.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  box-sizing: initial;
}

.avatarWithBorder {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  box-sizing: initial;
  border: 4px solid var(--gray-600);
  outline: 2px solid var(--green-500);
}